In [25]:
import pandas as pd
import numpy as np
import seaborn as sns

In [26]:
sale_df = pd.read_csv("datasets/DS-GroceryDataset/sales.csv")
product_df = pd.read_csv("datasets/DS-GroceryDataset/products.csv")

In [27]:
sale_df

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,0.0,0.0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,0.0,0.0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,0.0,0.0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3
...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,0.0,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT
6758121,6758122,18,85668,452,22,0.1,0.0,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8
6758122,6758123,21,68409,405,18,0.0,0.0,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW
6758123,6758124,17,90315,104,23,0.0,0.0,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X
6758124,6758125,16,45667,305,12,0.0,0.0,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF

In [28]:
product_df

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,Flour - Whole Wheat,74.2988,3,Medium,2018-02-16 08:21:49.190,Durable,Unknown,0.0
1,2,Cookie Chocolate Chip With,91.2329,3,Medium,2017-02-12 11:39:10.970,Unknown,Unknown,0.0
2,3,Onions - Cippolini,9.1379,9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0
3,4,"Sauce - Gravy, Au Jus, Mix",54.3055,9,Medium,2017-07-16 00:46:28.880,Durable,Unknown,0.0
4,5,Artichokes - Jerusalem,65.4771,2,Low,2017-08-16 14:13:35.430,Durable,True,27.0
...,...,...,...,...,...,...,...,...,...
447,448,Gatorade - Xfactor Berry,76.8988,5,Low,2017-04-22 01:33:00.490,Unknown,False,0.0
448,449,Nantuket Peach Orange,42.1414,4,Low,2017-01-31 09:11:45.450,Unknown,False,0.0
449,450,Wine - Vidal Icewine Magnotta,7.1070,3,Low,2017-12-01 01:00:00.650,Unknown,Unknown,0.0
450,451,Soup - Campbells Tomato Ravioli,93.5384,1,Low,2017-09-16 12:51:38.780,Durable,False,0.0
451,452,Napkin White - Starched,28.5653,11,Low,2017-01-06 14:39:42.890,Durable,Unknown,0.0

In [29]:
sale_df = sale_df.join(product_df.set_index('ProductID'), on='ProductID', how='left', lsuffix='_sale', rsuffix='_product')
sale_df

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,6,27039,381,7,0.0,0.0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,Vaccum Bag 10x13,44.2337,1,High,2018-01-06 22:26:53.580,Unknown,Unknown,41.0
1,2,16,25011,61,7,0.0,0.0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,Sardines,62.5460,8,Low,2017-12-03 21:41:12.420,Durable,False,90.0
2,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,Crab - Imitation Flakes,79.0184,11,Medium,2017-08-19 07:18:29.890,Durable,True,0.0
3,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,Smirnoff Green Apple Twist,81.3167,6,High,2017-08-27 17:08:59.840,Durable,True,90.0
4,5,10,32653,310,9,0.0,0.0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,Coffee - Dark Roast,79.9780,9,Low,2018-01-14 19:33:15.530,Weak,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,0.0,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT,"Beans - Kidney, Canned",69.5694,5,Medium,2017-11-16 02:35:16.760,Unknown,True,0.0
6758121,6758122,18,85668,452,22,0.1,0.0,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8,Napkin White - Starched,28.5653,11,Low,2017-01-06 14:39:42.890,Durable,Unknown,0.0
6758122,6758123,21,68409,405,18,0.0,0.0,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW,Pastry - Raisin Muffin - Mini,0.4278,11,Medium,2017-11-25 08:12:00.480,Durable,True,0.0
6758123,6758124,17,90315,104,23,0.0,0.0,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X,Tia Maria,98.2471,5,High,2018-01-04 20:59:30.040,Unknown,False,0.0
6758124,6758125,16,45667,305,12,0.0,0.0,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF,Pastry - Cheese Baked Scones,91.0997,8,Medium,2018-02-10 13:16:12.950,Weak,True,19.0

In [30]:
category_df = pd.read_csv("datasets/DS-GroceryDataset/categories.csv")
category_df

    CategoryID CategoryName
0            1  Confections
1            2   Shell fish
2            3      Cereals
3            4        Dairy
4            5    Beverages
5            6      Seafood
6            7         Meat
7            8        Grain
8            9      Poultry
9           10       Snails
10          11      Produce

In [31]:
sale_df = sale_df.join(category_df.set_index('CategoryID'), on='CategoryID', how='left', lsuffix='_sale', rsuffix='_category')
sale_df

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays,CategoryName
0,1,6,27039,381,7,0.0,0.0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,Vaccum Bag 10x13,44.2337,1,High,2018-01-06 22:26:53.580,Unknown,Unknown,41.0,Confections
1,2,16,25011,61,7,0.0,0.0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,Sardines,62.5460,8,Low,2017-12-03 21:41:12.420,Durable,False,90.0,Grain
2,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,Crab - Imitation Flakes,79.0184,11,Medium,2017-08-19 07:18:29.890,Durable,True,0.0,Produce
3,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,Smirnoff Green Apple Twist,81.3167,6,High,2017-08-27 17:08:59.840,Durable,True,90.0,Seafood
4,5,10,32653,310,9,0.0,0.0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,Coffee - Dark Roast,79.9780,9,Low,2018-01-14 19:33:15.530,Weak,False,0.0,Poultry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,0.0,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT,"Beans - Kidney, Canned",69.5694,5,Medium,2017-11-16 02:35:16.760,Unknown,True,0.0,Beverages
6758121,6758122,18,85668,452,22,0.1,0.0,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8,Napkin White - Starched,28.5653,11,Low,2017-01-06 14:39:42.890,Durable,Unknown,0.0,Produce
6758122,6758123,21,68409,405,18,0.0,0.0,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW,Pastry - Raisin Muffin - Mini,0.4278,11,Medium,2017-11-25 08:12:00.480,Durable,True,0.0,Produce
6758123,6758124,17,90315,104,23,0.0,0.0,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X,Tia Maria,98.2471,5,High,2018-01-04 20:59:30.040,Unknown,False,0.0,Beverages
6758124,6758125,16,45667,305,12,0.0,0.0,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF,Pastry - Cheese Baked Scones,91.0997,8,Medium,2018-02-10 13:16:12.950,Weak,True,19.0,Grain

In [32]:
sale_df.TotalPrice = sale_df.Price *sale_df.Quantity
sale_df

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays,CategoryName
0,1,6,27039,381,7,0.0,309.6359,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,Vaccum Bag 10x13,44.2337,1,High,2018-01-06 22:26:53.580,Unknown,Unknown,41.0,Confections
1,2,16,25011,61,7,0.0,437.8220,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,Sardines,62.5460,8,Low,2017-12-03 21:41:12.420,Durable,False,90.0,Grain
2,3,13,94024,23,24,0.0,1896.4416,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,Crab - Imitation Flakes,79.0184,11,Medium,2017-08-19 07:18:29.890,Durable,True,0.0,Produce
3,4,8,73966,176,19,0.2,1545.0173,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,Smirnoff Green Apple Twist,81.3167,6,High,2017-08-27 17:08:59.840,Durable,True,90.0,Seafood
4,5,10,32653,310,9,0.0,719.8020,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,Coffee - Dark Roast,79.9780,9,Low,2018-01-14 19:33:15.530,Weak,False,0.0,Poultry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,904.4022,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT,"Beans - Kidney, Canned",69.5694,5,Medium,2017-11-16 02:35:16.760,Unknown,True,0.0,Beverages
6758121,6758122,18,85668,452,22,0.1,628.4366,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8,Napkin White - Starched,28.5653,11,Low,2017-01-06 14:39:42.890,Durable,Unknown,0.0,Produce
6758122,6758123,21,68409,405,18,0.0,7.7004,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW,Pastry - Raisin Muffin - Mini,0.4278,11,Medium,2017-11-25 08:12:00.480,Durable,True,0.0,Produce
6758123,6758124,17,90315,104,23,0.0,2259.6833,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X,Tia Maria,98.2471,5,High,2018-01-04 20:59:30.040,Unknown,False,0.0,Beverages
6758124,6758125,16,45667,305,12,0.0,1093.1964,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF,Pastry - Cheese Baked Scones,91.0997,8,Medium,2018-02-10 13:16:12.950,Weak,True,19.0,Grain

In [33]:
customer_df = pd.read_csv("datasets/DS-GroceryDataset/customers.csv")
customer_df

,CustomerID,FirstName,MiddleInitial,LastName,CityID,Address
0,1,Stefanie,Y,Frye,79,97 Oak Avenue
1,2,Sandy,T,Kirby,96,52 White First Freeway
2,3,Lee,T,Zhang,55,921 White Fabien Avenue
3,4,Regina,S,Avery,40,75 Old Avenue
4,5,Daniel,S,Mccann,2,283 South Green Hague Avenue
...,...,...,...,...,...,...
98754,98755,Yvette,C,Campos,27,945 Oak Parkway
98755,98756,Angelo,X,Mc Millan,82,99 Fabien Street
98756,98757,Shari,J,Prince,81,791 Milton Drive
98757,98758,Stuart,K,Cameron,57,149 Clarendon Road
98758,98759,Willie,E,Lawson,94,50 Fabien Freeway

In [34]:
city_df = pd.read_csv("datasets/DS-GroceryDataset/cities.csv")
city_df

    CityID        CityName  Zipcode  CountryID
0        1          Dayton    80563         32
1        2         Buffalo    17420         32
2        3         Chicago    44751         32
3        4         Fremont    20641         32
4        5  Virginia Beach    62389         32
..     ...             ...      ...        ...
91      92         Hialeah    34375         32
92      93          Jersey    55355         32
93      94         Yonkers     7430         32
94      95         Garland    73265         32
95      96      Pittsburgh    14257         32

[96 rows x 4 columns]

In [35]:
country_df = pd.read_csv("datasets/DS-GroceryDataset/countries.csv")
country_df

     CountryID CountryName CountryCode
0            1     Armenia          AN
1            2      Canada          FO
2            3      Belize          MK
3            4      Uganda          LV
4            5    Thailand          VI
..         ...         ...         ...
201        202   Greenland          MW
202        203       Niger          SH
203        204    Malvinas          GE
204        205     Mayotte          PG
205        206    Mongolia          MZ

[206 rows x 3 columns]

In [36]:
city_df = city_df.join(country_df.set_index('CountryID'), on='CountryID', how='left', lsuffix='_city', rsuffix='_country')
city_df

    CityID        CityName  Zipcode  CountryID    CountryName CountryCode
0        1          Dayton    80563         32  United States          AR
1        2         Buffalo    17420         32  United States          AR
2        3         Chicago    44751         32  United States          AR
3        4         Fremont    20641         32  United States          AR
4        5  Virginia Beach    62389         32  United States          AR
..     ...             ...      ...        ...            ...         ...
91      92         Hialeah    34375         32  United States          AR
92      93          Jersey    55355         32  United States          AR
93      94         Yonkers     7430         32  United States          AR
94      95         Garland    73265         32  United States          AR
95      96      Pittsburgh    14257         32  United States          AR

[96 rows x 6 columns]

In [37]:
customer_df = customer_df.join(city_df.set_index('CityID'), on='CityID', how='left', lsuffix='_customer', rsuffix='_city')
customer_df

,CustomerID,FirstName,MiddleInitial,LastName,CityID,Address,CityName,Zipcode,CountryID,CountryName,CountryCode
0,1,Stefanie,Y,Frye,79,97 Oak Avenue,Oklahoma,40472,32,United States,AR
1,2,Sandy,T,Kirby,96,52 White First Freeway,Pittsburgh,14257,32,United States,AR
2,3,Lee,T,Zhang,55,921 White Fabien Avenue,Houston,95800,32,United States,AR
3,4,Regina,S,Avery,40,75 Old Avenue,Cleveland,51352,32,United States,AR
4,5,Daniel,S,Mccann,2,283 South Green Hague Avenue,Buffalo,17420,32,United States,AR
...,...,...,...,...,...,...,...,...,...,...,...
98754,98755,Yvette,C,Campos,27,945 Oak Parkway,Mesa,60852,32,United States,AR
98755,98756,Angelo,X,Mc Millan,82,99 Fabien Street,Charlotte,39774,32,United States,AR
98756,98757,Shari,J,Prince,81,791 Milton Drive,Sacramento,81966,32,United States,AR
98757,98758,Stuart,K,Cameron,57,149 Clarendon Road,Nashville,60874,32,United States,AR
98758,98759,Willie,E,Lawson,94,50 Fabien Freeway,Yonkers,7430,32,United States,AR

In [38]:
employee_df = pd.read_csv("datasets/DS-GroceryDataset/employees.csv")
employee_df

,EmployeeID,FirstName,MiddleInitial,LastName,BirthDate,Gender,CityID,HireDate
0,1,Nicole,T,Fuller,1981-03-07 00:00:00.000,F,80,2011-06-20 07:15:36.920
1,2,Christine,W,Palmer,1968-01-25 00:00:00.000,F,4,2011-04-27 04:07:56.930
2,3,Pablo,Y,Cline,1963-02-09 00:00:00.000,M,70,2012-03-30 18:55:23.270
3,4,Darnell,O,Nielsen,1989-02-06 00:00:00.000,M,39,2014-03-06 06:55:02.780
4,5,Desiree,L,Stuart,1963-05-03 00:00:00.000,F,23,2014-11-16 22:59:54.720
5,6,Holly,E,Collins,1987-01-13 00:00:00.000,M,65,2013-06-22 13:20:18.080
6,7,Chadwick,P,Cook,1970-05-02 00:00:00.000,M,39,2016-07-10 06:22:00.670
7,8,Julie,E,Dyer,1956-12-13 00:00:00.000,M,18,2014-10-14 23:12:53.420
8,9,Daphne,X,King,1956-05-02 00:00:00.000,F,39,2013-04-17 14:48:02.700
9,10,Jean,P,Vang,1963-12-30 00:00:00.000,M,9,2012-07-23 15:02:12.640
10,11,Sonya,E,Dickson,1976-01-14 00:00:00.000,F,12,2016-08-10 15:59:30.360
11,12,Lindsay,M,Chen,1951-09-03 00:00:00.000,F,58,2011-11-03 00:44:25.390
12,13,Katina,Y,Marks,1963-04-18 00:00:00.000,M,68,2011-12-12 10:43:52.940
13,14,Wendi,G,Buckley,1961-09-05 00:00:00.000,M,32,2016-07-11 00:57:58.340
14,15,Kari,D,Finley,1972-02-17 00:00:00.000,M,92,2014-07-13 06:50:11.790
15,16,Chadwick,U,Walton,1951-07-07 00:00:00.000,M,28,2017-02-10 11:21:26.650
16,17,Seth,D,Franco,1989-08-29 00:00:00.000,M,80,2010-07-11 09:23:03.490
17,18,Warren,C,Bartlett,1964-03-09 00:00:00.000,M,58,2010-02-22 21:55:48.620
18,19,Bernard,L,Moody,1970-03-22 00:00:00.000,M,54,2013-11-12 19:25:04.390
19,20,Shelby,P,Riddle,1964-06-13 00:00:00.000,M,14,2013-03-24 08:36:50.020
20,21,Devon,D,Brewer,1966-04-25 00:00:00.000,M,65,2016-01-24 02:13:24.340
21,22,Tonia,O,Mc Millan,1952-03-02 00:00:00.000,F,53,2015-11-25 18:18:23.480
22,23,Janet,K,Flowers,1979-03-01 00:00:00.000,F,7,2010-05-12 02:52:30.370

In [39]:
employee_df = employee_df.join(city_df.set_index("CityID"),on="CityID",how="left",lsuffix="_employee",rsuffix="_city")
employee_df

,EmployeeID,FirstName,MiddleInitial,LastName,BirthDate,Gender,CityID,HireDate,CityName,Zipcode,CountryID,CountryName,CountryCode
0,1,Nicole,T,Fuller,1981-03-07 00:00:00.000,F,80,2011-06-20 07:15:36.920,New Orleans,35640,32,United States,AR
1,2,Christine,W,Palmer,1968-01-25 00:00:00.000,F,4,2011-04-27 04:07:56.930,Fremont,20641,32,United States,AR
2,3,Pablo,Y,Cline,1963-02-09 00:00:00.000,M,70,2012-03-30 18:55:23.270,Rochester,415,32,United States,AR
3,4,Darnell,O,Nielsen,1989-02-06 00:00:00.000,M,39,2014-03-06 06:55:02.780,Lubbock,58464,32,United States,AR
4,5,Desiree,L,Stuart,1963-05-03 00:00:00.000,F,23,2014-11-16 22:59:54.720,Anaheim,21500,32,United States,AR
5,6,Holly,E,Collins,1987-01-13 00:00:00.000,M,65,2013-06-22 13:20:18.080,Baltimore,89197,32,United States,AR
6,7,Chadwick,P,Cook,1970-05-02 00:00:00.000,M,39,2016-07-10 06:22:00.670,Lubbock,58464,32,United States,AR
7,8,Julie,E,Dyer,1956-12-13 00:00:00.000,M,18,2014-10-14 23:12:53.420,Little Rock,81251,32,United States,AR
8,9,Daphne,X,King,1956-05-02 00:00:00.000,F,39,2013-04-17 14:48:02.700,Lubbock,58464,32,United States,AR
9,10,Jean,P,Vang,1963-12-30 00:00:00.000,M,9,2012-07-23 15:02:12.640,Atlanta,66212,32,United States,AR
10,11,Sonya,E,Dickson,1976-01-14 00:00:00.000,F,12,2016-08-10 15:59:30.360,Tacoma,43085,32,United States,AR
11,12,Lindsay,M,Chen,1951-09-03 00:00:00.000,F,58,2011-11-03 00:44:25.390,Columbus,87987,32,United States,AR
12,13,Katina,Y,Marks,1963-04-18 00:00:00.000,M,68,2011-12-12 10:43:52.940,Anchorage,29493,32,United States,AR
13,14,Wendi,G,Buckley,1961-09-05 00:00:00.000,M,32,2016-07-11 00:57:58.340,Jackson,40971,32,United States,AR
14,15,Kari,D,Finley,1972-02-17 00:00:00.000,M,92,2014-07-13 06:50:11.790,Hialeah,34375,32,United States,AR
15,16,Chadwick,U,Walton,1951-07-07 00:00:00.000,M,28,2017-02-10 11:21:26.650,Tucson,34760,32,United States,AR
16,17,Seth,D,Franco,1989-08-29 00:00:00.000,M,80,2010-07-11 09:23:03.490,New Orleans,35640,32,United States,AR
17,18,Warren,C,Bartlett,1964-03-09 00:00:00.000,M,58,2010-02-22 21:55:48.620,Columbus,87987,32,United States,AR
18,19,Bernard,L,Moody,1970-03-22 00:00:00.000,M,54,2013-11-12 19:25:04.390,Albuquerque,55358,32,United States,AR
19,20,Shelby,P,Riddle,1964-06-13 00:00:00.000,M,14,2013-03-24 08:36:50.020,Indianapolis,81678,32,United States,AR
20,21,Devon,D,Brewer,1966-04-25 00:00:00.000,M,65,2016-01-24 02:13:24.340,Baltimore,89197,32,United States,AR
21,22,Tonia,O,Mc Millan,1952-03-02 00:00:00.000,F,53,2015-11-25 18:18:23.480,Las Vegas,90989,32,United States,AR
22,23,Janet,K,Flowers,1979-03-01 00:00:00.000,F,7,2010-05-12 02:52:30.370,Riverside,1439,32,United States,AR

In [40]:
sale_df = sale_df.join(customer_df.set_index("CustomerID"),on="CustomerID",how="left",lsuffix="_sale",rsuffix="_customer")
sale_df

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,ProductName,...,FirstName,MiddleInitial,LastName,CityID,Address,CityName,Zipcode,CountryID,CountryName,CountryCode
0,1,6,27039,381,7,0.0,309.6359,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,Vaccum Bag 10x13,...,Susan,V,Green,54,826 Rocky Second Freeway,Albuquerque,55358,32,United States,AR
1,2,16,25011,61,7,0.0,437.8220,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,Sardines,...,Telly,W,Pollard,71,334 Cowley Street,Phoenix,84193,32,United States,AR
2,3,13,94024,23,24,0.0,1896.4416,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,Crab - Imitation Flakes,...,Jon,K,Rangel,2,537 First St.,Buffalo,17420,32,United States,AR
3,4,8,73966,176,19,0.2,1545.0173,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,Smirnoff Green Apple Twist,...,Carol,V,Gilmore,45,41 Hague Way,Dallas,20151,32,United States,AR
4,5,10,32653,310,9,0.0,719.8020,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,Coffee - Dark Roast,...,Terra,V,Carter,82,18 East Second Boulevard,Charlotte,39774,32,United States,AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,904.4022,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT,"Beans - Kidney, Canned",...,Rickey,D,Norman,91,55 East First St.,Jacksonville,68274,32,United States,AR
6758121,6758122,18,85668,452,22,0.1,628.4366,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8,Napkin White - Starched,...,Francis,M,York,76,80 Second Parkway,Birmingham,14935,32,United States,AR
6758122,6758123,21,68409,405,18,0.0,7.7004,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW,Pastry - Raisin Muffin - Mini,...,Jacquelyn,I,Pugh,58,83 Fabien Avenue,Columbus,87987,32,United States,AR
6758123,6758124,17,90315,104,23,0.0,2259.6833,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X,Tia Maria,...,Seth,U,Chan,93,70 South New Blvd.,Jersey,55355,32,United States,AR
6758124,6758125,16,45667,305,12,0.0,1093.1964,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF,Pastry - Cheese Baked Scones,...,Barry,T,Lutz,65,14 West Green Milton Street,Baltimore,89197,32,United States,AR

In [41]:
sale_df = sale_df.join(employee_df.set_index("EmployeeID"),on="SalesPersonID",how="left",lsuffix="_customer",rsuffix="_employee")
sale_df

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber,ProductName,...,LastName_employee,BirthDate,Gender,CityID_employee,HireDate,CityName_employee,Zipcode_employee,CountryID_employee,CountryName_employee,CountryCode_employee
0,1,6,27039,381,7,0.0,309.6359,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,Vaccum Bag 10x13,...,Collins,1987-01-13 00:00:00.000,M,65,2013-06-22 13:20:18.080,Baltimore,89197,32,United States,AR
1,2,16,25011,61,7,0.0,437.8220,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,Sardines,...,Walton,1951-07-07 00:00:00.000,M,28,2017-02-10 11:21:26.650,Tucson,34760,32,United States,AR
2,3,13,94024,23,24,0.0,1896.4416,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,Crab - Imitation Flakes,...,Marks,1963-04-18 00:00:00.000,M,68,2011-12-12 10:43:52.940,Anchorage,29493,32,United States,AR
3,4,8,73966,176,19,0.2,1545.0173,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,Smirnoff Green Apple Twist,...,Dyer,1956-12-13 00:00:00.000,M,18,2014-10-14 23:12:53.420,Little Rock,81251,32,United States,AR
4,5,10,32653,310,9,0.0,719.8020,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,Coffee - Dark Roast,...,Vang,1963-12-30 00:00:00.000,M,9,2012-07-23 15:02:12.640,Atlanta,66212,32,United States,AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,0.0,904.4022,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT,"Beans - Kidney, Canned",...,Vang,1963-12-30 00:00:00.000,M,9,2012-07-23 15:02:12.640,Atlanta,66212,32,United States,AR
6758121,6758122,18,85668,452,22,0.1,628.4366,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8,Napkin White - Starched,...,Bartlett,1964-03-09 00:00:00.000,M,58,2010-02-22 21:55:48.620,Columbus,87987,32,United States,AR
6758122,6758123,21,68409,405,18,0.0,7.7004,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW,Pastry - Raisin Muffin - Mini,...,Brewer,1966-04-25 00:00:00.000,M,65,2016-01-24 02:13:24.340,Baltimore,89197,32,United States,AR
6758123,6758124,17,90315,104,23,0.0,2259.6833,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X,Tia Maria,...,Franco,1989-08-29 00:00:00.000,M,80,2010-07-11 09:23:03.490,New Orleans,35640,32,United States,AR
6758124,6758125,16,45667,305,12,0.0,1093.1964,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF,Pastry - Cheese Baked Scones,...,Walton,1951-07-07 00:00:00.000,M,28,2017-02-10 11:21:26.650,Tucson,34760,32,United States,AR

In [42]:
sale_df = sale_df[['SalesID','SalesDate','TransactionNumber', 'CustomerID','FirstName_customer','MiddleInitial_customer','LastName_customer',
                   'CountryID_customer','CountryCode_customer', 'CountryName_customer', 'CityID_customer',
                   'CityName_customer','Address','Zipcode_customer','ProductID','ProductName','Quantity', 
                   'Price','TotalPrice','Discount','CategoryID','CategoryName','Class','Resistant', 'IsAllergic', 'VitalityDays',
                   'SalesPersonID','FirstName_employee', 'MiddleInitial_employee', 'LastName_employee','BirthDate', 'Gender','HireDate',
                   'CountryID_employee','CountryCode_employee','CountryName_employee','CityID_employee','CityName_employee','Zipcode_employee',
                   'ModifyDate'
                   ]]

In [ ]:
sale_df

,SalesID,SalesDate,TransactionNumber,CustomerID,FirstName_customer,MiddleInitial_customer,LastName_customer,CountryID_customer,CountryCode_customer,CountryName_customer,...,BirthDate,Gender,HireDate,CountryID_employee,CountryCode_employee,CountryName_employee,CityID_employee,CityName_employee,Zipcode_employee,ModifyDate
0,1,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G,27039,Susan,V,Green,32,AR,United States,...,1987-01-13 00:00:00.000,M,2013-06-22 13:20:18.080,32,AR,United States,65,Baltimore,89197,2018-01-06 22:26:53.580
1,2,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8,25011,Telly,W,Pollard,32,AR,United States,...,1951-07-07 00:00:00.000,M,2017-02-10 11:21:26.650,32,AR,United States,28,Tucson,34760,2017-12-03 21:41:12.420
2,3,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0,94024,Jon,K,Rangel,32,AR,United States,...,1963-04-18 00:00:00.000,M,2011-12-12 10:43:52.940,32,AR,United States,68,Anchorage,29493,2017-08-19 07:18:29.890
3,4,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE,73966,Carol,V,Gilmore,32,AR,United States,...,1956-12-13 00:00:00.000,M,2014-10-14 23:12:53.420,32,AR,United States,18,Little Rock,81251,2017-08-27 17:08:59.840
4,5,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3,32653,Terra,V,Carter,32,AR,United States,...,1963-12-30 00:00:00.000,M,2012-07-23 15:02:12.640,32,AR,United States,9,Atlanta,66212,2018-01-14 19:33:15.530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758120,6758121,2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT,50938,Rickey,D,Norman,32,AR,United States,...,1963-12-30 00:00:00.000,M,2012-07-23 15:02:12.640,32,AR,United States,9,Atlanta,66212,2017-11-16 02:35:16.760
6758121,6758122,2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8,85668,Francis,M,York,32,AR,United States,...,1964-03-09 00:00:00.000,M,2010-02-22 21:55:48.620,32,AR,United States,58,Columbus,87987,2017-01-06 14:39:42.890
6758122,6758123,2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW,68409,Jacquelyn,I,Pugh,32,AR,United States,...,1966-04-25 00:00:00.000,M,2016-01-24 02:13:24.340,32,AR,United States,65,Baltimore,89197,2017-11-25 08:12:00.480
6758123,6758124,2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X,90315,Seth,U,Chan,32,AR,United States,...,1989-08-29 00:00:00.000,M,2010-07-11 09:23:03.490,32,AR,United States,80,New Orleans,35640,2018-01-04 20:59:30.040
6758124,6758125,2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF,45667,Barry,T,Lutz,32,AR,United States,...,1951-07-07 00:00:00.000,M,2017-02-10 11:21:26.650,32,AR,United States,28,Tucson,34760,2018-02-10 13:16:12.950

In [44]:
sale_df.to_csv("datasets/DS-GroceryDataset/sales_joined.csv")