# การทำความสะอาดข้อมูล - โดย 6610402230 ศิริสุข ทานธรรม

## 1.Import Library

In [66]:
import pandas as pd
import statistics
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

## 2. แสดงจำนวน Files

In [67]:
path = "../datasets/the-movie-datasets"
path = Path(path)

files = list(path.glob('*'))
print("Files found:")
for i, file in enumerate(files):
    print(f"{i}. {file.name}")

Files found:
0. links_small.csv
1. links.csv
2. credits.csv
3. movies_metadata.csv
4. ratings.csv
5. ratings_small.csv
6. keywords.csv

## 3. เลือก metadata ไฟล์และแสดง info และ columns

In [68]:
df_meta_data = pd.read_csv(files[3])
print(df_meta_data.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_65532/2040376892.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_meta_data = pd.read_csv(files[3])

## 4.Filter fields ที่ต้องการ

In [69]:
df_meta = df_meta_data.filter(['id','original_title','genres','budget','revenue','vote_average','vote_count'])

## 5. แสดง info

In [70]:
print(df_meta.info())
df_meta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              45466 non-null  object
 1   original_title  45466 non-null  object
 2   genres          45466 non-null  object
 3   budget          45466 non-null  object
 4   revenue         45460 non-null  float64
 5   vote_average    45460 non-null  float64
 6   vote_count      45460 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.4+ MB
None

,id,original_title,genres,budget,revenue,vote_average,vote_count
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,373554033.0,7.7,5415.0
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,262797249.0,6.9,2413.0
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,0.0,6.5,92.0
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,81452156.0,6.1,34.0
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",0,76578911.0,5.7,173.0
...,...,...,...,...,...,...,...
45461,439050,رگ خواب,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0,0.0,4.0,1.0
45462,111109,Siglo ng Pagluluwal,"[{'id': 18, 'name': 'Drama'}]",0,0.0,9.0,3.0
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",0,0.0,3.8,6.0
45464,227506,Satana likuyushchiy,[],0,0.0,0.0,0.0
45465,461257,Queerama,[],0,0.0,0.0,0.0

## 6.ปรับ genre ให้เป็น store ข้อมูลเป็น List

In [71]:
df_meta.genres = df_meta.genres.apply(eval).apply(lambda x: [genre['name'] for genre in x] if x else pd.NA)
df_meta.genres.info()

<class 'pandas.core.series.Series'>
RangeIndex: 45466 entries, 0 to 45465
Series name: genres
Non-Null Count  Dtype
--------------  -----
43024 non-null  object
dtypes: object(1)
memory usage: 355.3+ KB

In [72]:
df_meta.genres

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                            <NA>
45465                            <NA>
Name: genres, Length: 45466, dtype: object

## 7. drop ค่า null ใน field genre

In [73]:
df_meta = df_meta.dropna(subset=['genres'])
df_meta.genres.info()

<class 'pandas.core.series.Series'>
Index: 43024 entries, 0 to 45463
Series name: genres
Non-Null Count  Dtype
--------------  -----
43024 non-null  object
dtypes: object(1)
memory usage: 672.2+ KB

In [74]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43024 entries, 0 to 45463
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              43024 non-null  object
 1   original_title  43024 non-null  object
 2   genres          43024 non-null  object
 3   budget          43024 non-null  object
 4   revenue         43018 non-null  float64
 5   vote_average    43018 non-null  float64
 6   vote_count      43018 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.6+ MB

## 8.จัดการค่า null ใน fields อื่นๆ

In [75]:
df_meta[df_meta.revenue.isnull()]

,id,original_title,genres,budget,revenue,vote_average,vote_count
19729,82663,Midnight Man,"[Action, Thriller, Drama]",0,NaN,NaN,NaN
19730,1997-08-20,"[{'iso_639_1': 'en', 'name': 'English'}]","[Carousel Productions, Vision View Entertainme...",/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,NaN,NaN
29502,122662,マルドゥック・スクランブル 排気,"[Animation, Science Fiction]",0,NaN,NaN,NaN
29503,2012-09-29,"[{'iso_639_1': 'ja', 'name': '日本語'}]","[Aniplex, GoHands, BROSTA TV, Mardock Scramble...",/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,NaN,NaN
35586,249260,Avalanche Sharks,"[TV Movie, Action, Horror, Science Fiction]",0,NaN,NaN,NaN
35587,2014-01-01,"[{'iso_639_1': 'en', 'name': 'English'}]","[Odyssey Media, Pulser Productions, Rogue Stat...",/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,NaN,NaN

In [76]:
df_meta.dropna(subset=['revenue', 'vote_average', 'vote_count'],inplace=True)
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43018 entries, 0 to 45463
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              43018 non-null  object
 1   original_title  43018 non-null  object
 2   genres          43018 non-null  object
 3   budget          43018 non-null  object
 4   revenue         43018 non-null  float64
 5   vote_average    43018 non-null  float64
 6   vote_count      43018 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.6+ MB

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_65532/1693232629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_meta.dropna(subset=['revenue', 'vote_average', 'vote_count'],inplace=True)

## 9.แปลง type ข้อมูล budget ให้เป็นตัวเลข

In [77]:
df_meta.budget = df_meta.budget.astype('float64')
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43018 entries, 0 to 45463
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              43018 non-null  object
 1   original_title  43018 non-null  object
 2   genres          43018 non-null  object
 3   budget          43018 non-null  float64
 4   revenue         43018 non-null  float64
 5   vote_average    43018 non-null  float64
 6   vote_count      43018 non-null  float64
dtypes: float64(4), object(3)
memory usage: 2.6+ MB

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_65532/1705662741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_meta.budget = df_meta.budget.astype('float64')

## 10.จัดการค่า 0 (ไม่มีค่า) ในข้อมูล

In [78]:
df_meta

,id,original_title,genres,budget,revenue,vote_average,vote_count
0,862,Toy Story,"[Animation, Comedy, Family]",30000000.0,373554033.0,7.7,5415.0
1,8844,Jumanji,"[Adventure, Fantasy, Family]",65000000.0,262797249.0,6.9,2413.0
2,15602,Grumpier Old Men,"[Romance, Comedy]",0.0,0.0,6.5,92.0
3,31357,Waiting to Exhale,"[Comedy, Drama, Romance]",16000000.0,81452156.0,6.1,34.0
4,11862,Father of the Bride Part II,[Comedy],0.0,76578911.0,5.7,173.0
...,...,...,...,...,...,...,...
45459,222848,Caged Heat 3000,[Science Fiction],0.0,0.0,3.5,1.0
45460,30840,Robin Hood,"[Drama, Action, Romance]",0.0,0.0,5.7,26.0
45461,439050,رگ خواب,"[Drama, Family]",0.0,0.0,4.0,1.0
45462,111109,Siglo ng Pagluluwal,[Drama],0.0,0.0,9.0,3.0
45463,67758,Betrayal,"[Action, Drama, Thriller]",0.0,0.0,3.8,6.0

In [79]:
df_meta.drop(df_meta[(df_meta.budget == 0) | (df_meta.revenue == 0) | (df_meta.vote_average == 0) | (df_meta.vote_count == 0)].index,inplace=True)
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5364 entries, 0 to 45422
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5364 non-null   object
 1   original_title  5364 non-null   object
 2   genres          5364 non-null   object
 3   budget          5364 non-null   float64
 4   revenue         5364 non-null   float64
 5   vote_average    5364 non-null   float64
 6   vote_count      5364 non-null   float64
dtypes: float64(4), object(3)
memory usage: 335.2+ KB

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_65532/1481327434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_meta.drop(df_meta[(df_meta.budget == 0) | (df_meta.revenue == 0) | (df_meta.vote_average == 0) | (df_meta.vote_count == 0)].index,inplace=True)

recheck

In [80]:
df_meta[df_meta.genres.apply(lambda x: len(x) == 0)]

Empty DataFrame
Columns: [id, original_title, genres, budget, revenue, vote_average, vote_count]
Index: []

In [81]:
df_meta[(df_meta.budget == 0) | (df_meta.revenue == 0) | (df_meta.vote_average == 0) | (df_meta.vote_count == 0)]

Empty DataFrame
Columns: [id, original_title, genres, budget, revenue, vote_average, vote_count]
Index: []

## 11. set index ด้วย field id

In [82]:
df_meta.set_index('id',inplace=True)
df_meta

,original_title,genres,budget,revenue,vote_average,vote_count
id,,,,,,
862,Toy Story,"[Animation, Comedy, Family]",30000000.0,373554033.0,7.7,5415.0
8844,Jumanji,"[Adventure, Fantasy, Family]",65000000.0,262797249.0,6.9,2413.0
31357,Waiting to Exhale,"[Comedy, Drama, Romance]",16000000.0,81452156.0,6.1,34.0
949,Heat,"[Action, Crime, Drama, Thriller]",60000000.0,187436818.0,7.7,1886.0
9091,Sudden Death,"[Action, Adventure, Thriller]",35000000.0,64350171.0,5.5,174.0
...,...,...,...,...,...,...
24049,சிவாஜி,"[Action, Comedy, Drama]",12000000.0,19000000.0,6.9,25.0
280422,Все и сразу,"[Crime, Comedy]",750000.0,3.0,6.0,4.0
62757,Dikari,"[Comedy, Drama]",800000.0,1328612.0,5.8,6.0
63281,Про любоff,"[Romance, Drama]",2000000.0,1268793.0,4.0,3.0
63898,Антидурь,"[Action, Comedy, Crime, Foreign]",5000000.0,1413000.0,1.0,1.0

## 12. drop ค่าที่ duplicate

In [83]:
df_meta = df_meta[~df_meta.index.duplicated(keep='first')]
df_meta[df_meta.index.duplicated(keep=False)]

Empty DataFrame
Columns: [original_title, genres, budget, revenue, vote_average, vote_count]
Index: []

## 13.ลบ special characters ออกจาก movie name

valid only English and non-English characters with lower case

In [84]:
df_meta['original_title'] = df_meta['original_title'].str.replace(r'[^a-zA-Z0-9\s\u0080-\uFFFF]', '', regex=True).str.lower()

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_65532/1818281821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_meta['original_title'] = df_meta['original_title'].str.replace(r'[^a-zA-Z0-9\s\u0080-\uFFFF]', '', regex=True).str.lower()

## 14.แสดงข้อมูลที่ทำความสะอาดแล้ว

In [85]:
print(df_meta.info())
df_meta

<class 'pandas.core.frame.DataFrame'>
Index: 5358 entries, 862 to 63898
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  5358 non-null   object
 1   genres          5358 non-null   object
 2   budget          5358 non-null   float64
 3   revenue         5358 non-null   float64
 4   vote_average    5358 non-null   float64
 5   vote_count      5358 non-null   float64
dtypes: float64(4), object(2)
memory usage: 422.1+ KB
None

,original_title,genres,budget,revenue,vote_average,vote_count
id,,,,,,
862,toy story,"[Animation, Comedy, Family]",30000000.0,373554033.0,7.7,5415.0
8844,jumanji,"[Adventure, Fantasy, Family]",65000000.0,262797249.0,6.9,2413.0
31357,waiting to exhale,"[Comedy, Drama, Romance]",16000000.0,81452156.0,6.1,34.0
949,heat,"[Action, Crime, Drama, Thriller]",60000000.0,187436818.0,7.7,1886.0
9091,sudden death,"[Action, Adventure, Thriller]",35000000.0,64350171.0,5.5,174.0
...,...,...,...,...,...,...
24049,சிவாஜி,"[Action, Comedy, Drama]",12000000.0,19000000.0,6.9,25.0
280422,все и сразу,"[Crime, Comedy]",750000.0,3.0,6.0,4.0
62757,dikari,"[Comedy, Drama]",800000.0,1328612.0,5.8,6.0
63281,про любоff,"[Romance, Drama]",2000000.0,1268793.0,4.0,3.0
63898,антидурь,"[Action, Comedy, Crime, Foreign]",5000000.0,1413000.0,1.0,1.0

In [86]:
genres = df_meta.genres.apply(lambda x: x[0]).unique()
genres,genres.shape

(array(['Animation', 'Adventure', 'Comedy', 'Action', 'History', 'Drama',
        'Crime', 'Fantasy', 'Science Fiction', 'Horror', 'Romance',
        'Mystery', 'Thriller', 'Documentary', 'Family', 'War', 'Western',
        'Music', 'TV Movie', 'Foreign'], dtype=object),
 (20,))

## 15. save csv

In [87]:
df_meta.to_csv('movie_meta.csv')